@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: 'Astonpoliz';
  src: url('../src/fonts/astonpoliz/Astonpoliz.ttf') format('truetype'),
      url('../src/fonts/astonpoliz/Astonpoliz.otf') format('opentype');
}
@font-face{
  font-family: 'BIgnoodle';
  src: url('../src/fonts/bignoodletitling/big_noodle_titling.ttf') format('truetype'),
       url('../src/fonts/bignoodletitling/big_noodle_titling_oblique.ttf') format('truetype');
}
@font-face{
  font-family: 'Coco';
  src: url('../src/fonts/cocogoose_classic/Cocogoose-Classic-ExtraBold-trial.ttf'),
       url('../src/fonts/cocogoose_classic/Cocogoose-Classic-Medium-trial.ttf');
}
@font-face{
  font-family: 'Evogria';
  src: url('../src/fonts/evogria/Evogria.otf'),
       url('../src/fonts/evogria/Evogria\ Italic.otf');
}
@font-face{
  font-family: 'GreaterTheory';
  src: url('../src/fonts/greater_theory/GreaterTheory.otf');
}
@font-face{
  font-family: 'KenyanCofee';
  src: url('../src/fonts/kenyan_coffee/kenyan\ coffee\ bd.otf'),
       url('../src/fonts/kenyan_coffee/kenyan\ coffee\ bd\ it.otf'),
       url('../src/fonts/kenyan_coffee/kenyan\ coffee\ rg.otf'),
       url('../src/fonts/kenyan_coffee/kenyan\ coffee\ rg\ it.otf');
}
@font-face{
  font-family: 'NtMarley';
  src: url('../src/fonts/nt_marley/NT\ Marley\ Bold\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Bold\ Outline\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Bold\ Soft\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Light\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Light\ Outline\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Light\ Soft\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Medium\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Medium\ Outline\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Medium\ Soft\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Regular\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Regular\ Outline\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Regular\ Soft\ \(only\ personal\ use\).otf'),
       url('../src/fonts/nt_marley/NT\ Marley\ Thin\ \(only\ personal\ use\).otf');
}
@font-face{
  font-family: 'Steelfish';
  src: url('../src/fonts/steelfish/steelfish\ bd.otf'),
       url('../src/fonts/steelfish/steelfish\ bd\ it.otf'),
       url('../src/fonts/steelfish/steelfish\ eb.otf'),
       url('../src/fonts/steelfish/steelfish\ eb\ it.otf'),
       url('../src/fonts/steelfish/steelfish\ outline.otf'),
       url('../src/fonts/steelfish/steelfish\ rg.otf'),
       url('../src/fonts/steelfish/steelfish\ rg\ it.otf');
}
@font-face{
  font-family: 'Sublima';
  src: url('../src/fonts/sublima/Sublima-ExtraBold.otf'),
       url('../src/fonts/sublima/Sublima-ExtraBoldItalic.otf'),
       url('../src/fonts/sublima/Sublima-ExtraLight.otf'),
       url('../src/fonts/sublima/Sublima-ExtraLightItalic.otf');
}
@font-face{
  font-family: 'Sui';
  src: url('../src/fonts/sui_generis/sui\ generis\ rg.otf');
}
@font-face{
  font-family: 'TsBlock';
  src: url('../src/fonts/ts_block/TS\ Block\ Bold.ttf');
}
@font-face{
  font-family: 'WorkForce';
  src: url('../src//fonts/workforce_sans/WorkforceSans_PERSONAL_USE_ONLY.otf');
}
@font-face{
  font-family: 'BankGothic';
  src: url('../src/fonts/bankgothic-md-bt/Bank\ Gothic\ Light\ Regular.otf'),
       url('../src/fonts/bankgothic-md-bt/bank\ gothic\ medium\ bt.ttf'),
       url('../src/fonts/bankgothic-md-bt/BankGothic\ Bold.ttf'),
       url('../src/fonts/bankgothic-md-bt/BankGothic\ Md\ BT.ttf'),
       url('../src/fonts/bankgothic-md-bt/BankGothicMediumBT.ttf');
}
@font-face{
  font-family: 'Sansation';
  src: url('../src/fonts/sansation/Sansation_Bold.ttf'),
       url('../src/fonts/sansation/Sansation_Bold_Italic.ttf'),
       url('../src/fonts/sansation/Sansation_Italic.ttf'),
       url('../src/fonts/sansation/Sansation_Light.ttf'),
       url('../src/fonts/sansation/Sansation_Light_Italic.ttf'),
       url('../src/fonts/sansation/Sansation_Regular.ttf'),
}
@font-face{
  font-family: 'Nexa';
    src:url('../src/fonts/nexa/Nexa-ExtraLight.ttf'),
        url('../src/fonts/nexa/Nexa-Heavy.ttf');
}
@font-face{
  font-family: 'Agreloy';
  src: url('../src/fonts/agreloy/AgreloyOut1.otf'),
        url('../src/fonts/agreloy/AgreloyOut1.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,section,div{
  scroll-behavior: smooth;
}


.section{
  @apply container mx-auto py-2 px-6
}
.GlassNavbar {
  border: 1px solid rgba(255, 255, 255, .7);
  backdrop-filter: blur(25px);
  -webkit-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
  box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
}
.GlassBox {
  border: 1px solid rgba(255, 255, 255, 0.803);
  backdrop-filter: blur(25px);
  -webkit-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
  box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(108deg, #4B9EFF, #0087F5);
}
.GradientButton{
  background-color: #161a20;
  border: none;
  color: #f0f0f0;
  border-radius: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: 'Sui';
}
.GradientButton::after{
  content: '';
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #008cff, #e100);
  z-index: -1;
  -webkit-box-shadow: 1px 6px 23px -8px rgba(0,0,0,0.61);
  -moz-box-shadow: 1px 6px 23px -8px rgba(0,0,0,0.61);
  box-shadow: 1px 6px 23px -8px rgba(0,0,0,0.61);
  border: .1px solid rgb(216, 216, 216) ;
}
.TextStyle{
  font-family: 'BankGothic',sans-serif;
  text-transform: capitalize;
  line-height: 50px;
  /* font-weight: 200; */
  
}
.TextStylePara{
  font-family: 'Sansation';
}
.TitleText{
  font-family: 'Evogria';
}
.ParagraphText{
  font-family: 'nexa',sans-serif;
}
.GlassBox1{
  border: 1px solid #008cff;
  backdrop-filter: blur(25px);
  -webkit-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
  box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.3);
}
.SubTitleStyle{
  font-family: 'Sansation';
}
.SmallTitleStyle{
  font-family: 'Astonpoliz';
}
.TeamName{
  font-family: 'BankGothic';
  font-weight: 600;
  background: linear-gradient(to bottom right, #008cff, #e100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
.TeamDesignation{
  font-family: 'BankGothic';
  font-weight: 700;
  color: white;
}
.FooterNames{
  font-family: 'Nexa';
}
.GradientFrame{
  background: linear-gradient(to bottom right, #008cff, #e100);
  font-family: 'BankGothic';
  color: white;
  -webkit-box-shadow: inset -7px 12px 22px -7px rgba(0,0,0,0.58);
-moz-box-shadow: inset -7px 12px 22px -7px rgba(0,0,0,0.58);
box-shadow: inset -7px 12px 22px -7px rgba(0,0,0,0.58);
}
.BorderDesignBox{
  -webkit-box-shadow: 1px 5px 19px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 1px 5px 19px 0px rgba(0,0,0,0.55);
  box-shadow: 1px 5px 19px 0px rgba(0,0,0,0.55);
  backdrop-filter: blur(25px);
  background: linear-gradient(to bottom right, #008cff, #e100);
  border: 1px solid white;
}
.DarkBox{
  -webkit-box-shadow: 1px 5px 19px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 1px 5px 19px 0px rgba(0,0,0,0.55);
  box-shadow: 1px 5px 19px 0px rgba(0,0,0,0.55);
  backdrop-filter: blur(25px);
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.1));
  border: 1px solid white;
}
.DevelopmentTextStyle{
  color: white;
  font-family: 'Nexa';
}

.hover-container {
  cursor: pointer;
  transition: all .2s linear;
}

.hover-container:hover .ParallelogramShape {
  transform: skew(0deg);
}

.ParallelogramShape {
  width: 80px;
  height: 30px;
  transform: skew(-20deg);
  background: #00f84a;
  transition: all 0.2s linear;
}

.ContactHead{
  font-family: 'Nexa', sans-serif;
  font-weight: 800;
}
.InputDesign{
  border: none;
  outline: none;
  border-radius: 10px;
  -webkit-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  backdrop-filter: blur(25px);
  background: linear-gradient(to bottom right, #008cff, #e100);
  border: 1px solid white;
  color: white;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.NavbarFont{
  font-family: 'BankGothic';
}
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  will-change: transform;
  overflow: hidden;
}
.BlobDesign{
  box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
  transition: all 1s ease-in-out;
  animation: animate 5s ease-in-out infinite;
}
@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.logo-slider-container {
  width: 100%; /* Full width of the container */
  overflow: hidden; /* Hide the overflowing logos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-slider {
  display: flex;
  width: fit-content;
  gap: 20px;
}

.logo {
  width: 200px; /* Adjust as per your design */
  height: 100px; /* Maintain aspect ratio */
  object-fit: contain;
  /* margin-right: 20px; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
.BlobAnimation1{
  box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
  transition: all 1s ease-in-out;
  animation: animate 5s ease-in-out infinite;
  background: linear-gradient(120deg, rgba(167,0,141,1) 0%, rgba(82,31,136,0.8996848739495799) 33%, rgba(167,0,141,1) 68%, rgba(145,145,145,1) 100%);
}

.ParentCircle{
  width: 80px;
  height: 80px;
  position: relative;
  top: 150px;
  left: 20px;

}
.ChildCirlce{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #0000001e;
  backdrop-filter: blur(10px);
  border: .1px solid white;
  animation: rotate 3s linear infinite;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  transform: translate(-50%,-50%);
}
.ChildCirlce::before{
  content: '';
  width: 20px;
  height: 20px;
  background: linear-gradient(120deg, rgba(167,0,141,1) 0%, rgba(82,31,136,0.8996848739495799) 33%, rgba(167,0,141,1) 68%, rgba(145,145,145,1) 100%);
  -webkit-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  position: absolute;
  border-radius: 50%;
}
@keyframes rotate{
  0%{
    transform: translate(-50%,-50%) rotate(-360deg);
  }
}

.ParentCircle2{
  width: 80px;
  height: 80px;
  position: relative;
  top: 75px;
  right: 20px;
}
.ChildCirlce2{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #0000001e;
  backdrop-filter: blur(10px);
  animation: rotate 3s linear infinite;
  border: .1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
}
.ChildCirlce2::before{
  content: '';
  width: 20px;
  height: 20px;
  background: linear-gradient(120deg, rgba(167,0,141,1) 0%, rgba(82,31,136,0.8996848739495799) 33%, rgba(167,0,141,1) 68%, rgba(145,145,145,1) 100%);
  -webkit-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  box-shadow: -2px -1px 8px 0px rgba(0,0,0,0.51);
  position: absolute;
  border-radius: 50%;
}
.Waves{
  position: relative;
  width: 100%;
  height:1600px;
  /* background: #6767679a; */
  z-index: -3;
  overflow: hidden;
}
@media screen and (min-width:768px){
  .Waves{
    height: 950px;
  }
}
@media screen and (min-width:1024px){
  .Waves{
    height:650px;
  }
}
.Waves .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./assets/wave.png);
  background-size: 1000px 100px;
}
.Waves .wave.wave1{
animation: waveAnimation 6s linear infinite;
z-index: 1000;
opacity: 1;
animation-delay: 0s;
top: 25px;
}
.Waves .wave.wave2{
  animation: waveAnimation2 15s linear infinite;
  z-index:999;
  opacity: 0.5;
  animation-delay: -5s;
  top: 0;
  }
  .Waves .wave.wave3{
    animation: waveAnimation3 30s linear infinite;
    z-index:998;
    opacity: 0.2;
    animation-delay: -2s;
    top: 10px;
    }
    .Waves .wave.wave4{
      animation: waveAnimation4 5s linear infinite;
      z-index:997;
      opacity: 0.2;
      animation-delay: -2s;
      top: 20px;
      }
@keyframes waveAnimation{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 1000px;
  }
}
@keyframes waveAnimation2{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 1000px;
  }
}

@keyframes waveAnimation3{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 1000px;
  }
}
@keyframes waveAnimation4{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 1000px;
  }
}
.Pre-Loader{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: blue;
}
.Pre-Loader h2{
  color: white;
}
.outLineFont{
  font-family: 'KenyanCofee';
}
.outLineFont1{
  font-family: 'BIgnoodle';
}
/* #150097 WaveBlue */
/* #2075bb */
/* <div className='absolute inset-0 overflow-hidden'>
          <video
            className='w-full h-full object-cover opacity-50'
            autoPlay
            loop
            muted
            playsInline
            src={homeBannerVideo}
          ></video>
        </div> */